.invisivel {
  display: none;
}

.actionsPanel {
  display: inline-block;
}

.actionsToogle {
  display: none;
}

.actionsDropdown {
  padding: 0px;
  margin: 0px;
  max-height: 60px;
}

.actionsDiv {
  background-color: unset;
}

@media (max-width: 600px) {
  .actionsPanel {
    display: none;
  }

  .actionsToogle {
    display: inline-block;
  }

  .actionsDiv {
    margin-left: auto;
    width: fit-content;
  }
}
