.App-header {
  background-color: rgb(137, 210, 252);
  height: 80px;
  width: 100%;
  text-align: left;
}

.App-logo {
  margin-left: 20px;
  float: left;
}

.App-name {
  margin-left: 10px;
  line-height: 80px;
  font-family: "Courgette", cursive;
  font-size: xx-large;
}

.App {
  text-align: center;
}

.basicDiv {
  width: 100%;
}

.desk {
  display: inline-block;
}

.cell {
  display: none;
}

.right-align {
  float: right;
  text-align: right;
  margin-right: 5px;
}

.texto-secundario {
  font-size: small;
  color: dimgray;
}

.FormTextField {
  width: 60%;
}

.FormDateField {
  width: 280px;
  max-width: 90%;
}

.divDataVaga {
  padding-top: 15px;
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
  width: 500px;
  max-width: 90%;
}

.formDialog {
  width: 100%;
  max-width: 500px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.divCadPac {
  padding: 20px;
  margin: 10px;
  align-content: center;
  align-items: center;
}

.filtroAtd {
  display: inline-flex;
}

.plusDiv {
  margin-top: 45px;
  margin-left: 10px;
}

.pacAutocomplete {
  width: 450px;
  max-width: 80%;
  margin-top: 30px;
}

.divConvenios {
  background-color: lightblue;
  width: 100%;
  margin: 0px auto;
}

.divSpacer {
  display: inline-flex;
  height: 25px;
  min-height: 60px;
}

.WizForm {
  margin: 0px auto;
  padding-top: 10px;
  width: 100%;
  max-width: 800px;
  align-content: center;
  align-items: center;
  align-self: center;
}

.WizFormControl {
  display: flex;
  padding: 10px;
  margin-left: 20px;
  width: 60%;
}

.ListaDisp {
  padding: 10px;
  margin-left: 20px;
  width: 100%;
  max-width: 480px;
}

.ListaDispItemText {
  text-align: right;
}

.dispSelect {
  margin: 20px;
  min-width: 100px;
}

.SubFormControl {
  align-content: center;
  align-items: center;
  width: 100%;
}

.WizFormNavButtonsContainer {
  padding: 10px;
  width: 100%;
  margin-top: 30px;
}

.MultSelect {
  max-width: 80%;
  max-height: 80%;
}

.Home {
  padding: 0;
  margin: 0;
  width: 100%;
}

.Foto-Home {
  max-width: 90%;
  max-height: 90%;
}

.calHeader {
  text-align: center;
  background-color: wheat;
}

.calHeaderDay {
  text-align: center;
  background-color: wheat;
}

.sit_agendado {
  color: black;
  font-weight: bold;
}

.sit_confirmado {
  color: green;
}

.sit_cancelado {
  color: firebrick;
}

.divHist {
  max-width: 500px;
  margin: 0px auto;
}

.listProntuario {
  max-height: 300px;
  max-width: 500px;
  margin: 0px auto;
  overflow: auto;
}

@media (max-width: 600px) {
  .desk {
    display: none;
  }

  .cell {
    display: inline-block;
  }

  .App-header {
    height: 40px;
    width: 100%;
  }

  .App-logo {
    margin-left: 0;
    float: left;
  }

  .App-name {
    margin-left: 5px;
    line-height: 40px;
    font-family: "Courgette", cursive;
    font-size: large;
  }

  .FormTextField {
    width: 90%;
  }

  .WizFormControl {
    display: flex;
    padding: 10px;
    margin-left: 20px;
    width: 90%;
  }
}

.dayDetail {
  width: 500px;
  max-width: 70%;
  margin: 0 auto;
  background-color: rgb(137, 210, 252);
}

.hourPanel {
  width: 100%;
  max-width: 800px;
}

.tagDentista {
  font-size: 13px;
  border-radius: 10px;
  padding: 3px;
  line-height: 14px;
  background-color: rgb(137, 210, 252);
  text-align: center;
  text-decoration: none;
  margin-left: 3px;
}

.divCal {
  width: 100%;
  max-width: 800px;
}

#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr,
#calendar thead,
#calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

#calendar td,
#calendar th {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

#calendar .weekdays {
  background: rgb(137, 210, 252);
}

.weekday {
  min-width: 50px;
}

#calendar .weekdays th {
  text-align: center;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 13px;
}

#calendar td {
  min-height: 90px;
  display: flex;
  flex-direction: column;
}

#calendar .date {
  text-align: center;
  color: dimgray;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 4px;
  width: 40px;
  flex: 0 0 auto;
  align-self: center;
}

.dayOff {
  background-color: #ccc;
  color: dimgrey;
}

.turnoComVaga {
  font-size: 13px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-align: center;
  text-decoration: none;
}

.turnoSemVaga {
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  border: 1px solid #aaa;
  color: #aaa;
  text-align: center;
  text-decoration: none;
}
